In [1]:
import pandas as pd
import networkx as nx
import matplotlib as mpl
import matplotlib.pyplot as plt
import statistics as sts
%matplotlib inline

In [2]:
graph_df = pd.read_csv('graphs_db.csv')
graph_df

,max_degree,qtd_max_degree,min_degree,qtd_min_degree,avg_degree,density
0,16199,1,2,5716,6.461727,0.000396
1,7,1,3,3,4.750000,0.121795
2,9697,1,0,10,2.292211,0.000141
3,22,1,5,1,12.900000,0.130303